{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock%}
{% block content %}
  {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    
  {% for curso in  cursos %}
    <li>
        {{curso.nombre}}
    </li>
    <li>
      {{curso.creditos}}
    </li>
    <li>
      {{curso.creditos}}
    </li>
      <a href="{% url 'eliminar_curso' id=curso.id %}">Eliminar</a>
    <hr>
  {% endfor %}
{% endblock %}
